node_modules/
.idea
.DS_STORE
npm-debug.log

assets/graphics/
assets/icons/
scripts/
dist/
coverage/
src/environment.js
src/deployment.js
src/components/side-pane/
src/resources/locales/
/index.html

#for vim:
*.swp
*.swo
