node_modules/
.idea
.DS_STORE
npm-debug.log

assets/graphics/
assets/icons/
scripts/
dist/
coverage/
src/environment.js
src/deployment.js
src/components/side-pane/
src/resources/locales/local_lang.js

#for vim:
*.swp
*.swo
