
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-geolocate:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-keyboard:before { content: '\e806'; } /* '' */
.icon-trash-empty:before { content: '\e807'; } /* '' */
.icon-cancel-2:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-flood:before { content: '\e80a'; } /* '' */
.icon-watch:before { content: '\e80b'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-block:before { content: '\e80d'; } /* '' */
.icon-camera-1:before { content: '\e80e'; } /* '' */
.icon-cw-1:before { content: '\e80f'; } /* '' */
.icon-banjir-pin:before { content: '\e810'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */