@import "../../resources/style_sheets/theme_guide.less";

#photoPreview {
  position: relative;
  width: 40%;
  height: 90%;
  float: left;
  background-color: @solid-black;
  & .image {
    position: absolute;
    top: 50%;
    &#hasPhoto {
      width: 100%;
      height: 100%;
      & img {
        position: absolute;
        left: 50%;
        max-width: 100%;
        max-height: 100%;
        .translate-mixin(-50%, -50%);
      }
    }
    &#noPhoto {
      left: 40%;
      font-size: 80px;
      color: white;
      .translate-mixin(-50%, -50%);
    }
    z-index: 2;
  }
}

#textPreview {
  position: relative;
  width: 45%;
  height: 90%;
  padding-left: 10px;
  float: left;
  overflow:hidden;
  & #bodyWrapper {
    width: 85%;
    height: 75%;
    border-bottom: 1px solid @banjir-blue;
    overflow-y: scroll;

    & .textTitle {
      .bodybold-mixin(14px);
      padding: 0;
      margin: 0 6px 6px 0;
      color: @banjir-blue;
    }
    & #timeStamp, #source {
      .bodylight-mixin(12px);
      color: @light-gray;
      width: 60%;
      line-height: 18px;
      margin: 0;
      padding: 0;
      & #sourceImg {
        margin: 0;
        padding: 0;
      }
    }
    & #textBody {
      .bodyregular-mixin(14px);
      word-wrap: break-word;
      padding: 0;
      margin-top: 6px;
    }
  }
  & #sourcelogo{
    position: relative;
    color: @light-gray;
    width: 40%;
    height: 20%;
    float: right;
    overflow: none;
    border: solid 1px blue;
    margin: 0 10px 0 0;
  }
  & #voteIcons {
    position: absolute;
    bottom: 0px;
    & i {
      font-size: 18px;
      & .active {
        color: @banjir-blue;
        box-shadow: @drop-shadow;
      }
    }
    & a {
      position: relative;
      text-decoration: none;
      padding: 0 6px 0 0;
      cursor: pointer;
    }
    & a:active {
      color: @banjir-blue;
    }
    & button {
      border: none;
      cursor: pointer;
      & .active {
        color: @banjir-blue;
      }
    }
    & button:disabled {
     color: @banjir-blue
    }
  }
}

.interactionFlyer {
  position: relative;
  display: none;
  top: -18px;
  height: 100px;
  padding: 20px;
  z-index: 2500;
  text-align: center;
  background-color: @snow-white;
  & a {
    padding: 5px;
    border: none;
    .linklight-mixin(32px);
    text-decoration: none;
      cursor: pointer;
    & .active {
      color: @banjir-blue;
      box-shadow: @drop-shadow;
    }
    & i {
      font-size: 16px;
    }

  }

  & p {
    .bodymedium-mixin(12px);
    margin: 5px;
    text-align: center;
  }
  & #submitButton {
    margin: 5px;
    margin-top: 15px;
    box-shadow: @drop-shadow;
    .linkmedium-mixin(12px);
    color: @snow-white;
    background: @banjir-blue;
    padding: 10px;
    border-radius: 3px;
    border: none;
    .translate-mixin(2px, 2px);
  }
  &
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
  }
}
