<template>
  <require from="./report-info.css"></require>
  <div  id="photoPreview">
    <div class="image" id="hasPhoto" if.bind="imageurl">
      <a target="_blank" href.bind="imageurl">
        <img src.bind="imageurl">
      </a>
    </div>
    <div class="image" id="noPhoto" if.bind="!imageurl">
      <i class="icon-flood-img"></i>
    </div>
  </div>

  <div id="textPreview">
    <div id="bodyWrapper">
      <p if.bind="title" class="textTitle">${title}</p>

      <!-- Tried binding variables in textcontent, same behaviour -->
      <!-- <p if.bind="height" class="textTitle" textcontent.bind="locale.report_info.water_depth + ': ' + height + ' ' + config.height_units" /> -->
      <!-- Tried binding height the same way as text, doesn't work -->
      <p if.bind="hasHeight" class="textTitle">${height}</p>
      <!-- <p if.bind="height" class="textTitle">${locale.report_info.water_depth}: ${height} ${config.height_units}</p> -->

      <p if.bind="reportevent" class="textTitle">${locale.prep_menu.btn_names[reportevent]}</p>
      <p id="source">${locale.report_info.source}&nbsp;
        <a target="_blank" href.bind="links[source]">
        <img id="sourceImg" src.bind="'assets/icons/img_' + source + '.svg'" width="18" height="18"></img>
        </a>
      </p>
      <p id="timeStamp">${timestamp}</p>
      <p id="textBody">${text}</p>
    </div>

    <div id="socialIcons">
      <a repeat.for="button of shareButtons" href.bind="button.intent">
        <i class.bind="'icon-' + button.name"></i>
      </a>
    </div>
  </div>
</template>
