@import "../../resources/style_sheets/theme_guide.less";

#photoPreview {
  position: relative;
  width: 40%;
  height: 90%;
  float: left;
  background-color: @solid-black;
  & .image {
    position: absolute;
    top: 50%;
    &#hasPhoto {
      left: 50%;
      max-width: 100%;
      max-height: 100%;
    }
    &#noPhoto {
      left: 40%;
      font-size: 80px;
      color: white;
    }
    .translate-mixin(-50%, -50%);
    z-index: 2;
  }
}

#textPreview {
  position: relative;
  width: 45%;
  height: 90%;
  padding-left: 10px;
  float: left;
  overflow:hidden;
    & #bodyWrapper {
    width: 85%;
    height: 75%;
    border-bottom: 1px solid @banjir-blue;
    overflow-y: scroll;

    & .textTitle {
      .bodybold-mixin(14px);
      padding: 0;
      margin: 0 6px 6px 0;
      color: @banjir-blue;
    }
    & #timeStamp, #source {
      .bodylight-mixin(12px);
      color: @light-gray;
      width: 60%;
      line-height: 18px;
      margin: 0;
      padding: 0;
      & #sourceImg {
        margin: 0;
        padding: 0;
      }
    }
    & #textBody {
      .bodyregular-mixin(14px);
      word-wrap: break-word;
      padding: 0;
      margin-top: 6px;
    }
  }
  & #sourcelogo{
    position: relative;
    color: @light-gray;
    width: 40%;
    height: 20%;
    float: right;
    overflow: none;
    border: solid 1px blue;
    margin: 0 10px 0 0;
  }
  & #voteIcons {
    position: absolute;
    height: 18%;
    bottom: 0px;
    & a {
      position: relative;
      .linklight-mixin(18px);
      text-decoration: none;
      padding: 0 6px 0 0;
      cursor: pointer;
      &.active {
        color: @banjir-blue;
      }
    }
  }
}

.interactionFlyer {
  display: none;
  padding: 5px;
  position: absolute;
  border: solid @light-gray 1px;
  border-radius: 5px;
  width: 35%;
  height: 60%;
  margin-left: 40%;
  float: right;
  z-index: 2500;
  background-color: @translucent-white;
  & a {
    margin-left: 20px;
    border: none;
    .linklight-mixin(32px);
    text-decoration: none;
    line-height:42px;;
    list-style: none;
  }
    & p {.bodyregular-mixin(12px)}
    & #flag_text{
      height: 30px;
    }
}

// #flagReport {
//   display: none;
//   position: absolute;
//   border: solid @light-gray 1px;
//   border-radius: 5px;
//   width: 35%;
//   height: 60%;
//   margin-left: 40%;
//   float: right;
//   z-index: 2500;
//   background-color: @translucent-white;
//   & p {.bodyregular-mixin(14px)}
//   & #flag_text{
//     height: 30px;
//   }
// }
