<template>
  <require from="./report-info.css"></require>
  <div  id="photoPreview">
    <img class="image" id="hasPhoto" if.bind="imageurl" src.bind="imageurl">
    <div class="image" id="noPhoto" if.bind="!imageurl">
      <i class="icon-flood"></i>
    </div>
  </div>

  <div id="textPreview">
    <div id="bodyWrapper">
      <p if.bind="title" class="textTitle">${title}</p>
      <p if.bind="height" class="textTitle">Water depth: ${height}cm</p>
      <p id="timeStamp">${timestamp}</p><p id="textBody">${text}</p>
    </div>

    <div id="socialIcons">
      <a href.bind="twitterText">
        <i class="icon-twitter"></i>
      </a>
      <a href.bind="whatsappText">
        <i class="icon-whatsapp"></i>
      </a>
      <a href.bind="facebookText">
        <i class="icon-facebook"></i>
      </a>
    </div>
  </div>
</template>
