
#cardTitle {
  width: 100%;
  height: 48px;
  border: 1px;
  font-family: "Roboto", Open Sans;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-size: 16px;
  background-color: #424242;
  padding-top: 2px;
}

#cardContent {
  position: relative;
  width: 100%;
  height: 380px;
  text-align: center;
  z-index: 3;
  background-color: #808080;
}

.navBtn {
  position: relative;
  color: #ffffff;
  width: 49.3%;
  height: 50px;
  font-size: 12px;
  font-family: "Roboto", Open Sans;
  background: #424242;
  border: none;
  /*padding: 10px 20px 10px 20px;*/
  text-decoration: none;
  z-index: 3;
}

.navBtn:disabled {
  color: #808080;
  text-decoration: none;
  z-index: 3;
}

.navBtn:active {
  background: #5e5e5e;
  text-decoration: none;
  z-index: 3;
  transform: translateY(1px);
}

#cardNavigation{
  align-content: center;
}
