@import '../../../styleSheets/themeGuide.less';

#descriptionWrapper {
  .insetWrapper;
}

#textarea {
  position: relative;
  width: 280px;
  height: 260px;
  font-family: "Roboto-Light", "Roboto", Open Sans;
  color: #fff;
  border: none;
  border-bottom: 3px solid @banjir-blue;
  font-size: 14px;
  resize: none;
  background-color: @light-gray;
  margin: 0px;
  padding: 10px;
  outline: none;
  &:focus {
    margin-top: -1px;
    margin-top: -1px;
    border-top: 1px solid @banjir-blue;
    border-left: 1px solid @banjir-blue;
    border-right: 1px solid @banjir-blue;
  }
}

#textmessage {
  font-family: "Roboto-Light", "Roboto", Open Sans;
  color: @dark-gray;
  margin: 0px;
  font-size: 14px;
  & p {
    margin: 0px;
    padding: 12px 0px 0px 0px;
  }
}
