@import "../../resources/style_sheets/theme_guide.less";

#pageWrapper {
  position: absolute;
  .fullspan-mixin;

  & #map {
    position: absolute;
    .fullspan-mixin;
    & .leaflet-top {
      top: @bar-heights;
    }
    & .leaflet-control-zoom {
      & a {
        background-color: @snow-white;
      }
      &-in, &-out {
        width: 30px;
        height: 28px;
      }
    }
    & .leaflet-bottom {
      bottom: 10px;
      left: 10px;
    }
  }

  & #topBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: @bar-heights;
    background-color: @translucent-white;
    z-index: 1030;
    border-bottom: 1px solid @light-gray;
    & #logo_top {
      position: absolute;
      left: 12px;
      bottom: 2px;
      width: 125px;
      top:2px;
      & #pbLogo {
        width: 100%;
      }
    }
    & div.menuBtn {
      display: none;
      position: absolute;
      background: transparent;
      top: 8px;
      right: 10px;
      line-height: 30px;
      & i {
        .linklight-mixin(30px);
      }
    }
    & div.active {
      display: block;
    }
  }

  & #infoPane {
    .mappane-mixin(200px);
    background-color: @snow-white;
    & .closeBtn {
      position: absolute;
      background: transparent;
      margin: 0px;
      padding: 0px;
      top: 6px;
      right: 6px;
      text-align: right;
      z-index: 1025;
      .linkmedium-mixin(18px);
    }
    & .infoWrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 12px 12px 0px 12px;
      z-index: 1020;
    }
  }

  & #sidePane {
    .mappane-mixin(320px);
    overflow: scroll;
    background-color: @snow-white;
    z-index: 1025;
  }
}
