@import "../../resources/style_sheets/theme_guide.less";

#pageWrapper {
  position: absolute;
  .fullspan-mixin;

  & #reportButton {
    width: 70px;
    height: 70px;
    position: fixed;
    border: none;
    top: 55px;
    left: 12px;
    z-index: 1035;
    border-radius: 5px;
    background-color: @snow-white;
    box-shadow: @drop-shadow;
    & i {
      .linkmedium-mixin(28px);
      color: @banjir-blue;
      text-align: center;
      width: 58px;
      height: 40px;
      top: 2px;
      }
    & p {
      .bodybold-mixin(10px);
      text-align: center;
      color: @banjir-blue;
      margin: 0px;

    }
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: translateX(1px)translateY(2px);
    }
  }

  & #reportLink {
    width: auto;
    height: 70px;
    display:none;
    position: fixed;
    border: none;
    top: 55px;
    left: 90px;
    z-index: 1035;
    border-radius: 5px;
    background-color: @snow-white;
    box-shadow: @drop-shadow;
    & i {
      .linkmedium-mixin(32px);
      padding-left: 10px;
      padding-top: 10px;
      position: fixed;
    }
    &:hover {
      color: @blue-hover;
    }
    & table {
      & tr {
        & td {
          width: 65px;
        }
      }
    }
  }

  & #map {
    position: absolute;
    .fullspan-mixin;
    & .leaflet-top {
      top: @bar-heights;
    }
    & .leaflet-control-zoom {
      & a {
        background-color: @snow-white;
      }
      &-in, &-out {
        width: 30px;
        height: 28px;
      }
    }
    & .leaflet-bottom {
      bottom: 10px;
      left: 10px;
    }
  }

  & #topBar {
    position: absolute;
    top: 0px;
    right: 0px;
    // width: 100%;
    height: @bar-heights;
    // background-color: @translucent-white;
    z-index: 1030;
    // border-bottom: 1px solid @light-gray;
    & #logo_top {
      position: absolute;
      left: 12px;
      bottom: 2px;
      width: 125px;
      top:2px;
      & #pbLogo {
        width: 100%;
      }
    }
    & div.menuBtn {
      display: none;
      position: absolute;
      background: transparent;
      top: 10px;
      right: 14px;
      line-height: 30px;
      & i {
        .linklight-mixin(30px);
      }
    }
    & div.active {
      display: block;
    }
  }

  & #infoPane {
    .mappane-mixin(200px);
    background-color: @snow-white;
    & .closeBtn {
      position: absolute;
      background: transparent;
      margin: 0px;
      padding: 0px;
      top: 8px;
      right: 10px;
      text-align: right;
      z-index: 1025;
      .linkmedium-mixin(18px);
    }
    & .infoWrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 12px 12px 0px 12px;
      z-index: 1020;
    }
  }

  & #sidePane {
    .mappane-mixin(320px);
    overflow: scroll;
    background-color: @snow-white;
    z-index: 1025;
  }
}

div#sidePane {
  margin-right: 8px !important;
  width: 289px !important;
}

input.live-search-box.au-target {
  width: 100%;
  height: 31px;
  border: 0px solid;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
  box-shadow: 0px 5px #c7bdbd;
}

#pageWrapper #sidePane {
  right: 0px;
}

.locationDesign:hover {
  background-color: #ccc;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    #pageWrapper #topBar div.menuBtn {
      // display: none;
      position: absolute;
      background: transparent;
      top: 18px;
      right: 14px;
      line-height: 30px;
  }

  @media screen 
  and (min-device-width: 786px) 
  and (max-device-width: 1200px) {

  }
}