@import "../../styleSheets/themeGuide.less";

#pageWrapper {
  position: absolute;
  .fullspan-mixin;
}

#mapContainer {
  .fullspan-mixin;
}

.leaflet-top {
  top: @bar-heights;
}

.leaflet-control-zoom a {
  background-color: @translucent-white;
}

#topBar {
  .mapbars-mixin(1);
  top: 0px;
}

#logos {
  position: absolute;
  left: 10px;
  bottom: @bar-heights / 10;
  width: 150px;
  height: auto;
  padding: 0px;
}


#optionsBtn {
  position: absolute;
  right: 10px;
  top: 5px;
  height: 75%;
  padding: 0px;
  margin: auto;
}

#optionImg{
  position:relative;
  height: 100%;
  .linkmedium-mixin(24px);
}

#bottomBar {
  .mapbars-mixin(2);
  bottom: 0px;

}

#logos_bottom {
  @media screen {
    position: absolute;
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 420px) {
      display: block;
      left: 10px;
      top: 0px;
      height: 75%;
      padding: 0px;
      margin: 0px;
    }
  }
}

#mitLogo {
  height: 100%;
}

#links {
  position: absolute;
  right: -1px;
  bottom: @bar-heights / 12;
}

.cityLinks {
  padding: 0px 6px;
  border-right: 1px solid #2f2f2f;
  float: left;
  text-transform: capitalize;
  .linklight-mixin(14px);
}

#reportPane {
  .mappane-mixin(200px);
}

#watchPane{
  .mappane-mixin(320px);
  overflow: scroll;
}

.closeBtn {
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
  right: @bar-heights / 6;
  text-align: right;
  z-index: 1010;
  .linkmedium-mixin(24px);
}
