body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#navBar {
  position: relative;
  width: 100%;
  height: 60px;
}

#logos {
  position: absolute;
  width: 150px;
  height: auto;
  left: 10px;
  bottom: 10px;
  padding: 0px;
}

#links {
  position: absolute;
  right: -1px;
  bottom: 11px;
}

.cityLinks {
  padding: 0px 6px;
  border-right: 1px solid #2f2f2f;
  float: left;
  font-family: "Roboto-Light", "Roboto", Open Sans;
  font-size: 14px;
  color: #2f2f2f;
  text-transform: capitalize;
  cursor: pointer;
}

.cityLinks:hover {
  color: #31aade;
}

#optionsPane {
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -200px;
  margin: 0px;
  padding: 0px;
  background-color: white;
  z-index: 1001; /* Leaflet options control z-index: 1000 (default) */
  overflow: hidden;
}

#nav {
  position: relative;
  width: 100%;
  height: 90px;
  margin: 0px;
  padding: 4px 0px;
  background-color: #808080;
  font-family: "Roboto-Medium", "Roboto", Open Sans;
  font-size: 16px;
  color: white;
}

#nav p {
  margin-left: 8px;
}

#popupInfo {
  position: relative;
  color: #808080;
  font-family: "Roboto-Light", "Roboto", Open Sans;
  font-size: 12px;
}

#popupInfo p {
  margin-left: 8px;
}

#cityOptions {
  width: 150px;
  height: 32px;
  margin-left: 8px;
  border: none;
  background-color: white;
  font-family: "Roboto-Light", "Roboto", Open Sans;
  font-size: 12px;
  color: #808080;
  text-transform: capitalize;
  outline: none;
}

#mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  float: left;
}

#optionsBtn {
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 15px 0px;
  padding: 3px;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  z-index: 1000;
  background-color: #808080;
}
