@import "../../styleSheets/themeGuide.less";

#pageWrapper {
  position: absolute;
  .fullspan-mixin;
}

#mapContainer {
  .fullspan-mixin;
}

.leaflet-top {
  top: @bar-heights;
}

.leaflet-control-zoom a {
  background-color: @snow-white;
}

#topBar {
  .mapbars-mixin(1);
  top: 0px;
}

#logos {
  position: absolute;
  left: 10px;
  bottom: @bar-heights / 10;
  width: 150px;
  height: auto;
  padding: 0px;
}

#optionsBtn {
  position: absolute;
  background: transparent;
  right: 10px;
  bottom: @bar-heights / 10;
  .linkmedium-mixin(21px);
}

#reportPane {
  .mappane-mixin(200px);
}

#sidePane{
  .mappane-mixin(320px);
  overflow: scroll;
}

.closeBtn {
  position: absolute;
  background: transparent;
  margin: 0px;
  padding: 0px;
  top: @bar-heights/8;
  right: @bar-heights/8;
  text-align: right;
  z-index: 1010;
  .linkmedium-mixin(21px);
}

#notification{
    font-family: Roboto-Light, Roboto, sans-serif;
    font-size: 12px;
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    position:relative;
    top:@bar-heights;
}

.error {
  background-color: rgba(255, 0, 0, 0.4);
  }

.info {
  background-color: rgba(0, 0, 0, 0.5);
}

#cityPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  .translate-mixin(-50%, -50%);
  padding: 12px;
  border: none;
  border-radius: 6px;
  box-shadow: @spread-shadow;
  z-index: 1500;
  .bodylight-mixin(14px);
  text-transform: capitalize;
  text-decoration: none;
  background: @translucent-white;
  & p {
    margin: 0 0 6px 0;
  }
}
