@import "../../styleSheets/themeGuide.less";

#urlLogo {
  position: relative;
  margin: auto;
  bottom: @bar-heights / 10;
  width: 70%;
  padding: 30px 0px 0px 0px;
}

#projectIntro {
  margin: auto;
  padding: 20px;
  .bodylight-mixin(22px);
  line-height: 150%;
  text-align: center;
  color: @banjir-blue;
  & .headers {
    text-align: center;
    .bodymedium-mixin(16px);
  }
}

#videoWrapper {
  position: relative;
  margin: auto;
  width: 95%;
}

#video {
  width: 100%;
}

#about {
  margin: auto;
  padding: 10px;
  .bodylight-mixin(14px);
  line-height: 150%;
  text-align: justify;
  color: @steel-gray;
  padding: 30px;
}

#partners{
  position: relative;
  margin: auto;
  color: #000;
  font-size: 12px;
  font-family: 'Roboto-Medium', 'Helvetica Neue', sans-serif;
}

#partnerLogo{
  position: relative;
  margin: auto;
  height: 40px;
  width: auto;
}
