<template>
  <require from="./watch-card.css"></require>
  <div id="urlLogo">
    <a href="www.urbanrisklab.org"> <image src="assets/graphics/URL_logo.svg"> </a>
  </div>

  <div id="about">
    <p>PetaBencana harnesses the power of social media to gather, sort, and display information about flooding in real time.</p>
    <p class="headers">How to share flood information</p><br>
  </div>

  <div id="videoWrapper" >
  <!--  <iframe src="https://player.vimeo.com/video/163756110?color=ffffff&title=0&byline=0&portrait=0"></iframe> -->
  <img  id="video" src="assets/images/cards_image.png">

  </div>


    <div id="partners">
      <center>
        <p>Supported by</p>
        <table id="table">
          <tr>
            <th>
              <a href="#" target="_self">
                <img id="partnerLogo"src="assets/graphics/USAID-logo.png">
              </a>
            </th>
            <th>
              <a href="#"target="_self">
                <img id="partnerLogo" src="assets/graphics/Hot_logo.png">
              </a>
            </th>
          </tr>
          <tr>
            <th>
              <a href="#"target="_self">
                <img id="partnerLogo" src="assets/graphics/pcd_logo.png">
              </a>
            </th>
            <th>
              <a href="#" target="_self">
                <img id="partnerLogo"src="assets/graphics/BPBD-logo.svg">
              </a>
            </th>
          </tr>
        </th>
      </table>
    </center>
  </div>


</template>
