<template>
  <require from="./card-notification.css"></require>
  <div id="notifyWrapper">
    <div id="symbol">
      <i class="icon-attention-circled" if.bind="type === 'warning'"></i>
      <i class="icon-cancel-circled" if.bind="type === 'error'"></i>
    </div>
    <div id="msg">
      <h3 if.bind="!bespoke">${locale.notification.header[header]} Test</h3>
      <h3 if.bind="bespoke">${header} Check</h3>
      <p if.bind="!bespoke" innerhtml.bind="locale.notification.message[message]"></p>
      <p if.bind="bespoke">${message} Check</p>
    </div>
  </div>
</template>
