<template>
  <require from="./side-pane.css"></require>
  <div id="tabsBar">
    <ul class="tabs">
      <li class="paneTabs" repeat.for="tabName of tabList">
        <div class="tabLinks" id.bind="'button-' + tabName" click.delegate="switchTab(tabName)">
          <i class.bind="'icon-' + tabName"></i>
          <p>${tabName}</p>
        </div>
      </li>
      <li class="langTab">
        <div repeat.for="language of languages">
          <label id.bind="language" class="langLabels">
            <input type="radio" model.bind="language" checked.bind="selLanguage" change.delegate="switchLang(language)">
            ${language}
          </label>
        </div>
      </li>
    </ul>
  </div>

  <div id="paneContent">
    <div id="content-map" if.bind="tab === 'map'" class="contentWrapper">
      <p>${locale.map_helper}</p>
      <label repeat.for="city of cities">
        <input type="radio" model.bind="city" checked.bind="selected" change.delegate="switchCity(city)">
        ${city}
        <br>
      </label>
    </div>

    <div id="content-report" if.bind="tab === 'report'" class="contentWrapper">
      <table id="reportTable">
        <tr repeat.for="video of videos" class="vidRows">
          <td>
            <table class="vidTable">
              <tr click.delegate="showVideo(video.platform)">
                <td class="labelRow" id.bind="'label_' + video.platform">
                  <p class="labelText" textcontent.bind="locale.report_content[video.platform].title"></p>
                  <p class="arrows down" id.bind="'down_' + video.platform">
                    <i class="icon-down-open"></i>
                  </p>
                  <p class="arrows up" id.bind="'up_' + video.platform">
                    <i class="icon-up-open"></i>
                  </p>
                </td>
              </tr>
              <tr class="wrapRow">
                <td>
                  <div class="videoWrapper" id.bind="'vid_' + video.platform" ref.bind="'vid_' + video.platform">
                    <iframe width="300" height="225" allowfullscreen="allowfullscreen" frameborder="0" src.bind="video.source[selLanguage]"></iframe>
                    <br>
                    <ul>
                      <li repeat.for="step of locale.report_content[video.platform].steps">
                        <p>${step}</p>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          <td>
        </tr>
      </table>
    </div>

    <div id="content-info" if.bind="tab === 'info'" class="contentWrapper">
      <div id="pbLogo">
        <img src="assets/graphics/Peta_logo.svg">
      </div>
      <div id="urlLogo">
        <img src="assets/graphics/URL_logo.svg">
      </div>
      <p id="intro">${locale.info_content.intro}</p>
      <div id="partners">
        <table id="table">
          <tr class="label">
            <td colspan="2" cellpadding="0">
              <p>${locale.info_content.partners}</p>
            </td>
          </tr>
          <tr class="logos">
            <td>
              <a href="https://www.usaid.gov/">
                <img class="partnerLogo" src="assets/graphics/USAID-logo.png">
              </a>
            </td>
            <td>
              <a href="http://www.bnpb.go.id/">
                <img class="partnerLogo" src="assets/graphics/bnpb_logo.png">
              </a>
            </td>
          </tr>
          <tr class="logos">
            <td>
              <a href="https://hotosm.org/">
                <img class="partnerLogo" src="assets/graphics/Hot_logo.png">
              </a>
            </td>
            <td>
              <a href="http://www.pdc.org/">
                <img class="partnerLogo" src="assets/graphics/pcd_logo.png">
              </a>
            </td>
          </tr>
          <tr class="label">
            <td colspan="2">
              <p>${locale.info_content.mapCredits}</p>
            </td>
          </tr>
          <tr class="label">
            <td colspan="2">
              <p><a href="https://leafletjs.com">Leaflet</a> &#124; &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors</p>
            </td>
          </tr>
        </table>
      </div>
      <p>${locale.info_content.p1}</p>
      <p>${locale.info_content.p2}</p>
      <p>${locale.info_content.p3}</p>
    </div>
  </div>

  <div id="logoBar">
  </div>
</template>
