<template>
  <require from="./side-pane.css"></require>
  <div id="tabsBar">
    <ul class="tabs">
      <li class="paneTabs" repeat.for="tabName of tabList">
        <div class="tabLinks" id.bind="'button-' + tabName" click.delegate="switchTab(tabName)">
          <i class.bind="'icon-' + tabName"></i>
        </div>
      </li>
      <li class="langTab">
        <div repeat.for="language of languages">
          <label id.bind="language" class="langLabels">
            <input type="radio" model.bind="language" checked.bind="selLanguage" change.delegate="switchLang(language)">
            ${language}
          </label>
        </div>
      </li>
    </ul>
  </div>

  <div id="paneContent">
    <div id="content-map" if.bind="tab === 'map'" class="contentWrapper">
      <p>${locale.map_helper}</p>
      <label repeat.for="city of cities">
        <input type="radio" model.bind="city" checked.bind="selected" change.delegate="switchCity(city)">
        ${city}
        <br>
      </label>
    </div>
    <div id="content-watch" if.bind="tab === 'watch'" class="contentWrapper">
      ${locale.watch_title}
    </div>
    <div id="content-info" if.bind="tab === 'info'" class="contentWrapper">
      ${locale.info_title}
    </div>
  </div>

  <div id="logoBar">
  </div>
</template>
