@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Volkhov:400italic);
/* var text-decoration */
/*--
Common Css
--*/
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.section-title {
  margin-bottom: 70px;
  margin-right: 50px;
  margin-left: 50px;
}
.section-instructions {
  margin-bottom: 120px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  background-color:transparent;
  z-index: 1;
  color: #666

}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: 'Roboto', serif;
  color: #666;
}
/*--
Header Start
--*/
header {
  background: #fff;
  padding: 20px 0;
  z-index: 99999999;
}
header .navbar {
  margin-bottom: 10px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}

font header .navbar-default .navbar-nav li a:hover {
  color: #f00;
}

/* Leaflet custom popup*/
.custom-popup .leaflet-popup-content-wrapper {
  background:#fff;
  color:#666;
  font-size:13px;
  line-height:24px;
  border-radius:0 !important;
}

.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:30px;
  background: transparent;
}

.custom-popup .leaflet-popup-tip {
  border-left:0px solid transparent;
  border-right:15px solid #fff;
  border-top:0px solid transparent;
  border-bottom:15px solid #fff;
}
.leaflet-popup-close-button {
  display: none;
  position:absolute;
  top:0;right:0;
  pointer-events:all;
}
/* Nav list start  */

header .navbar-default .navbar-nav {
  padding-top: 10px;
}

header .navbar-default .navbar-nav ul a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
  z-index: 99999999;
}

header .navbar-nav a:hover{
  color:#fff;
  font-weight: 600;

}

header .navbar-nav ul{
  background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
  background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
  list-style:none;
  position:absolute;
  left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

header .navbar-nav ul li{
  padding-top:0px; /* Introducing a padding between the li and the a give the illusion spaced items */
  float:none;
}

header .navbar-nav  ul a{
  white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
header .navbar-nav  li:hover ul{ /* Display the dropdown on hover */
  left:0; /* Bring back on-screen when needed */
}
header .navbar-nav  li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
background:#fff;
text-decoration:underline;
}
header .navbar-nav  li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
text-decoration:none;
}
header .navbar-nav  li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
  background:#fff;
}

/* Nav list end  */


/*---------------------------------------------
Index Start
-----------------------------------------------*/
/*--
Slider Start
--*/
#slider {
  background: url("/img/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 200px 0;
  position: relative;
}
#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #8b86a3, #322e40);
  opacity: 0.8;
}
#slider .block {
  color: #E3E3E4;
}
#slider .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 0px;
  padding-bottom: 45px;
}
#slider .block p {
  font-size: 23px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  color: #666
}

/*--
wrapper Start
--*/
#intro {
  padding: 50px 0;
  text-align: center;
}
#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#intro .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#intro .block img {
  padding-left: 40px;
  width: 100%;
}
#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #666
}
/*---------------------------------------------
Video Wrapper Start
-----------------------------------------------*/

.videoWrapper {
  position: relative;
  padding-bottom: 54.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

}
.videoWrapper object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
/*---------------------------------------------
Map Start
-----------------------------------------------*/

#MapContain {
  position:fixed;
  padding-top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
/*--
service Start
--*/
#service {
  text-align: center;
  padding: 90px 0;
}
#service .service-item {
  padding-bottom: 30px;
}
#service .service-item i {
  font-size: 60px;
  color: #4A4656;
}
#service .service-item h4 {
  padding-top: 20px;
  margin: 0;
  color: #666;
}
#service .service-item p {
  color: #888;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}


/*--
counter-box Start
--*/
#testimonial {
  padding: 50px 0;
}
#testimonial .block h2 {
  line-height: 27px;
  color: #5C5C5C;
  padding-top: 110px;
}
#testimonial .block p {
  padding-top: 50px;
  color: #7B7B7B;
}
#testimonial .counter-box li {
  width: 50%;
  float: left;
  text-align: center;
  margin: 30px 0 30px;
}
#testimonial .counter-box li i {
  font-size: 35px;
}
#testimonial .counter-box li h4 {
  font-size: 30px;
  font-weight: bold;
  color: #f05022;
}
#testimonial .counter-box li span {
  color: #555;
}

/*--
features Start
--*/
#clients-logo-section {
  padding-top: 30px;
  padding-bottom: 75px;
}
#clients-logo-section .clients-logo-img {
  padding: 0px 50px;
}
/*---------------------------------------------
Work Start
-----------------------------------------------*/
/*--
Slider-work Start
--*/
#global-header {
  background: url("/img/slider-bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: auto;
  padding-left: auto;
  text-align: center;
}
#global-header .block h1 {
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 6px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block p {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 3px;
}

/*--
features-work Start
--*/
#features-work {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-work .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
Work Close
-----------------------------------------------*/
/*=============================================*/
/*---------------------------------------------
Contact Start
-----------------------------------------------*/
/*--
slider-contact Start
--*/
#slider-contact {
  background: url("/img/slider-bg2.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
}
#slider-contact:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#slider-contact .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
}
#slider-contact .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 6px;
  padding-bottom: 15px;
}
#slider-contact .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}
/*--
contact-form Start
--*/
#contact-form {
  padding-top: 70px;
  padding-bottom: 35px;
}
#contact-form .block form .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
/*--
wrapper-contact Start
--*/
.address-block li {
  margin-bottom: 20px;
}
.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
}
.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}

#contact-box {
  padding-top: 35px;
  padding-bottom: 58px;

}
#contact-box .block img {
  width: 100%;
}
#contact-box .block h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 28px;
  padding-bottom: 20px;
}
#contact-box .block p {
  color: #5C5C5C;
  display: block;
}
/*--
features-contact Start
--*/
#features-contact {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-contact .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
Contact Close
-----------------------------------------------*/
/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/
/*--
footer Start
--*/
footer {
  background: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}
