<template>
  <require from="./watch-card.css"></require>
  <div id="urlLogo">
    <a href="www.urbanrisklab.org"> <image src="assets/graphics/URL_logo.svg"> </a>
    </div>
    <div id="projectIntro">
      <p>PetaBencana harnesses the power of social media to gather, sort, and display information about flooding in real time.</p>
      <br><hr>
      <p class="headers">How to share flood information</p>
    </div>
    <div id="videoWrapper" >
      <!--  <iframe src="https://player.vimeo.com/video/163756110?color=ffffff&title=0&byline=0&portrait=0"></iframe> -->
      <img  id="video" src="assets/images/cards_image.png">
    </div>
    <br>
    <div id="about">
      <hr>
      <p>PetaBencana.id is a project initiated by the Urban Risk Lab at MIT as a free,
        transparent platform for emergency response and disaster management in megacities in South and Southeast Asia.
      </p>

      <p>The platform adopts a  “people as sensors” paradigm, where confirmed reports are collected directly from the users at street level in a manner
        that removes expensive and time-consuming data processing. This framework creates accurate,
        real-time data which is immediately made available for users and first responders.
      </p>

        <p>PetaBencana.id gathers, sorts, and visualizs data using specially developed CogniCity Open Source Software
          -  an enterprise-level platform for emergency response and disaster management - to transforms the noise of
          social and digital media into critical information for residents, communities, and government agencies.
        </p>
        <br><hr>
        <div id="partners">
          <center>
            <table id="table">
              <tr>
                <th>
                  <a href="https://www.usaid.gov/" target="_self">
                    <img id="partnerLogo"src="assets/graphics/USAID-logo.png">
                  </a>
                </th>
                <th>
                  <a href="http://www.bnpb.go.id/"target="_self">
                    <img id="partnerLogo"src="assets/graphics/bnpb_logo.png">
                  </a>
                </th>
              </tr>
              <tr>
                <th>
                  <a href="https://hotosm.org/"target="_self">
                    <img id="partnerLogo" src="assets/graphics/Hot_logo.png">
                  </a>
                </th>
                <th>
                  <a href="http://www.pdc.org/" target="_self">
                    <img id="partnerLogo" src="assets/graphics/pcd_logo.png">
                  </a>
                </th>
              </tr>
            </th>
          </table>
        </center>
      </div>
    </template>
